@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
}

/* Remove default styles on links */
a {
  text-decoration: none;
  color: inherit;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Jost", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: -0.333333px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.25px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.25px;
}

h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.194444px;
}

button {
  outline: none;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up-slow {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0.5%);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.item-animation {
  animation: slide-up 0.3s ease-in-out;
}

.alert-animation {
  animation: slide-down 0.3s ease-in-out;
}

.form-animation {
  animation: slide-up-slow 0.2s ease-in-out;
}

.fade-in {
  animation: fade-in 0.2s ease-in-out;
}

.slide-in {
  animation: slide-in 0.2s ease-in-out;
}

.slide-down[data-reach-menu-list],
.slide-down[data-reach-menu-items] {
  border-radius: 5px;
  animation: slide-down 0.2s ease;
}

.login__icon {
  color: darkblue !important;
  font-size: 22px;
  position: absolute;
  right: 20px;
  top: 22px;
}

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --colorCyan: #5fb4a2;
  --colorRed: #f43030;
  --colorDarkblue: #203a4c;
  --colorGrayishdarkblue: #33323d;
  --colorVerylightgray: #fafafa;
  --colorLightgray: #eaeaeb;
  --colorWhite: #ffffff;
  --colorBordergray: #dcdcde;
  --colorForminputbg: #e5e5e6;
  --colorForminputplaceholder: #9d9da3;
  /* --fontFamilysans: "Public Sans", sans-serif; */
  /* --fontFamilyserif: "Ibarra Real Nova", serif; */
  --weightLight: 300;
  --weighRegular: 400;
  --weightSemiBold: 600;
  --weightBold: 700;
  --spaceMaxwidth: 111rem;
  --transition: 300ms ease-in-out;

  /* font-family: var(--fontFamilysans); */
  color: var(--colorGrayishdarkblue);
  background-color: var(--colorVerylightgray);
}
.container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}
img {
  object-fit: contain;
  max-width: 100%;
}
ul {
  list-style-type: none;
}

input,
textarea {
  background: none;
  border: none;
  display: block;
  outline-width: 0;
}

button {
  outline-width: 0;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
}
html {
  scroll-behavior: smooth;
}
label {
  display: block;
}
.flex {
  display: flex;
}
.sb {
  justify-content: space-between;
}
.ai {
  align-items: center;
}
.fc {
  flex-direction: column;
}
.px {
  padding: 0 1.5rem;
}
.py {
  padding: 1.5rem 0;
}

/* .btn {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.btn--primary{
  text-transform: uppercase;
  height: 20rem;
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20rem;
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 1.4rem;
  font-weight: var(--weightSemiBold);
}
.btn--primary__icon {
  background-color: #1C3444;
  width: 4.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition) background-color;
}
  .btn--primary__icon img {
    transition: var(--transition) filter;
  }
  .btn--primary__content {
    width: 15.2rem;
    background-color: #203A4C;
    color: var(--colorWhite);
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition) background-color;
  }
  .btn--primary__content:hover {
    background-color: #55A191;
  }
  .btn--primary__icon:hover {
    background-color: #55A191;
  }
  .btn--secondary {
    font-size: 1.2rem;
    letter-spacing: 2px;
    line-height: 1.4rem;
    padding: 1.6rem 3.2rem;
    font-weight: var(--weightSemiBold);
    text-transform: uppercase;
    color: var(--colorGrayishdarkblue);
    border: 1px solid var(--colorGrayishdarkblue);
    transition: var(--transition) background-color, var(--transition) color;
  }

  .btn--secondary:hover {
    background-color: var(--colorGrayishdarkblue);
    color: var(--colorWhite);
  }

  .btn--submit {
    font-family:var(--fontFamilysans);
    font-weight: var(--weightSemiBold);
    background-color: #203A4C;
    color: var(--colorWhite);
    border: 1px solid transparent;
    text-transform: uppercase;
    transform: translateY(0);
    padding: .61rem 2rem;
    transition: var(--transition) background-color, var(--transition) border-color, var(--transition) transform;
    margin: 20px 0 100px ;
  }

  .btn--submit:hover {
    color: #203A4C;
    background-color: transparent;
    border-color: #203A4C;
    transform: translateY(-2px);
  } */
